extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    h2 Ahoy!!!
    p #{user.username}
    p #{user.name}
    a(class="btn btn-link",href="/logout") Logout
  else
    .row
      .col-12
        a(class="btn btn-link",href="/login") Please Login
